wiki.teamwaf.app {
 encode gzip
 reverse_proxy 10.0.0.200:3000
}

git.fisa.club {
 reverse_proxy 10.0.0.10:8181
}


dock.teamwaf.app {
    encode gzip

    # X-Forwarded-For 헤더에서 IP를 추출하여 실제 클라이언트 IP를 얻습니다.
    @allowed {
        header X-Forwarded-For 118.131.63.236 10.0.0.1
    }

    reverse_proxy @allowed 10.0.0.250:5001 {
        # 업스트림 서버로 전달할 헤더를 설정할 수 있습니다.
        header_up X-Real-IP {http.request.header.X-Forwarded-For}
    }

    # 허용되지 않은 IP에 대한 처리
    respond "Access denied" 403

    # 모든 요청에 대한 로그를 기록합니다.
    log {
        output file /var/log/caddy/dock.teamwaf.app.log {
            roll_size 100mb
            roll_keep 10
            roll_keep_for 720h
        }
        format single_field common_log
    }
}
