wiki.teamwaf.app {
 encode gzip
 reverse_proxy 172.100.1.11:3000
}

dock.teamwaf.app {
    @teammember {
        remote_ip forwarded 118.131.63.236 113.73.5.126
    }
    handle @teammember {
        reverse_proxy /* 172.100.1.1:5001
    }
    respond "Access Denied" 403
}

fw.teamwaf.app {
    @teammember {
        remote_ip forwarded 118.131.63.236 113.73.5.126
    }
    handle @teammember {
        reverse_proxy /* 172.100.0.1:443
    }
    respond "Access Denied" 403
}

