wiki.teamwaf.app {
 encode gzip
 reverse_proxy 172.100.1.11:3000
}


(teammember) {
    @teammember {
        remote_ip forwarded 118.131.63.236 113.73.5.126
    }
}

access.teamwaf.app {
    import teammember
    handle @teammember {
        reverse_proxy /* 172.100.1.1:8080
    }
    respond "Access Denied" 403
}

dbadmin.teamwaf.app {
    import teammember
    handle @teammember {
        reverse_proxy /* 172.100.1.12:7070
    }
    respond "Access Denied" 403
}



test.teamwaf.app {
    encode gzip
    reverse_proxy /attachment* 173.100.0.1:19999
    reverse_proxy /webhook* 173.100.0.1:3000
    reverse_proxy /* 173.100.0.1:8080
}


dock.teamwaf.app {
    import teammember
    handle @teammember {
        reverse_proxy /* 172.100.1.1:5001
    }
    respond "Access Denied" 403
}

fw.teamwaf.app {
    import teammember
    handle @teammember {
        reverse_proxy /* 172.100.0.1
    }
    respond "Access Denied" 403
}

chat.teamwaf.app {
 encode gzip
 reverse_proxy /* 173.100.0.1:9999
}
